
                body{
                   background-image: url("../images/dogBoneRed2.png");
                   font-family: "Comic Sans MS";
                   font-weight: bold; 
                   color: black;
                }
               /*Page Title*/
                #title{
                    text-align: center;
                    color:black;
                    font-size: 400%;
                    width: 100%;
                    margin-top: 0; 
                    margin-bottom: 2vh;
                }
                /*Header of the Profile's list */
                #header{
                    text-align: center;
                    font-size: 200%;
                    margin-top: 0; 
                    margin-bottom: 2vh;
                }
                /*Contains the Profile's list */
                #col1{
                    position: relative;
                    float: left;  
                    padding-bottom: 2em;
                    width: 30vw; 
                    overflow: hidden;   
                    margin-left: 0;   
                } 
                /*A div that contains the header buttons of the Profiles list*/
                /*These include Add-Dog, Top-Dog, Reset, and Instructions*/
                #header-buttons{
                    width: 350px;
                }
                /*This div contains the list of dog names in the Profiles list*/
                /*and is designed to scroll using the JQuery plugin 'niceScroll'*/
               #col1-inner{
                    width: 300px;
                    height: 150px;
                    overflow: auto;
               }   
               /*Applied to li to align header Buttons Horizontally*/          
                #header-button{
                    padding-top: 0;
                    margin: 0;
                    list-style-type: none;
                    padding-bottom: 0.5vh;
                    text-align: left;                    
                    font-weight: bold
                }
                /*Applied to list of Dog Names to enable dog-name and remove*/
                /*labels to line up*/
                .dog-list{
                    list-style-type: none;
                    width: 80%;
                    text-align: left;
                }
                /*Style each header button*/
                #header-button > input{
                    background-color: burlywood;
                    border: solid 1px black;
                    font-family: "Comic Sans MS";
                    font-weight: bold;
                    font-size: 100%;
                }
                /*Styling applied to dynamically placed dog-name buttons*/
                 .buttons{
                    border: solid 1px black;
                    background-color:burlywood;
                    font-size: 100%;           
                }
                /*Places a vertical space between each dog name*/
                 .namesList{           
                    padding-top: 0;
                    padding-bottom: 2%;
                }
                /*Place the 'Remove' button to the far right side of each dog's name*/
                .remove-dog{
                    float: right;
                }
                
                 /*Main display area, where profiles and messages are shown*/
                .main{
                    width: 60vw;
                    position: relative;
                    float: left;
                    margin: 0 0 0 10px;
                    padding: 0;
                    top: 0;
                }
                /*Profile Region displays profiles and messages*/
                .profile{
                    position: relative;
                    vertical-align: top;
                    float: none;
                    top: 0;
                    text-align: center;
                    font-size: 100%;
                    margin: 1px;
                    padding: 1px;     
                } 
                /*General text style for short messages*/     
                .message-text{
                    font-size: 200%;
                    text-align: center;
                    padding: 0;
                    margin: 0;
                }
               /*Limit image size and add border*/
                .dog-image{
                    width: 35%; 
                    height: 35%; 
                    border: solid 2px rosybrown;
                }
              /*Size of the dog's name in the profile*/
                #dog-name{
                    font-size: 150%;
                    
                   /* background-color:burlywood;*/
                } 
                /*Applies to text stating number of dog clicks*/          
                .dog-clicks{
                    color: red;
                    font-size: 200%; 
                    margin: 0;
                    vertical-align: top;
                }
                 /*Applies to text stating number of dog clicks*/ 
                .no-clicks{
                    color:black;
                    font-size: 100%;
                }
                /*Use jQuery to toggle between .toggle and .toggleBig*/
                /*when a dog's click counter increments*/
                .toggle{
                    font-size: 20%;
                    min-height: 1em;
                }
                .toggleBig{ 
                    font-size: 300%;
                    min-height: 1em;
                }
                /*Use when announcing dog's with the most clicks*/
                #big-title{
                    font-size: 350%;
                    font-weight: bold;
                    color: #0066ff;
                    vertical-align: top;
                    margin: 0 0 10px 0;
                    padding: 0;
    
                }
                .footer{
                    font-size: 85%;
                    font-weight: normal;
                    text-align: center;
                    height: 2em;
                }
                /*Welcome and instructions page*/
                .welcome{
                    font-size: 115%; 
                    text-align: center;
                }
                .welcome ul{
                    list-style-position: inside;
                    list-style-type: none;
                    display: inline-block;
                }
                .welcome li{
                    text-align: left;
                }
                /*Bye bye sad face when remove a dog*/
                #bye{
                    width: 100px;
                    border-radius: 50px;
                    vertical-align: middle;
                }
                
